<a href="https://colab.research.google.com/github/arifadli/kuliahAI2021/blob/main/K-NN%20with%20CrossValidation/%20KNN%20ikbal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
data = pd.read_csv('/content/drive/My Drive/Colab Notebooks/healthcare-dataset-stroke-data.csv')
data.head()

      id  gender   age  ...   bmi   smoking_status stroke
0   9046    Male  67.0  ...  36.6  formerly smoked      1
1  51676  Female  61.0  ...   NaN     never smoked      1
2  31112    Male  80.0  ...  32.5     never smoked      1
3  60182  Female  49.0  ...  34.4           smokes      1
4   1665  Female  79.0  ...  24.0     never smoked      1

[5 rows x 12 columns]

In [3]:
from sklearn.preprocessing import LabelEncoder
enc=LabelEncoder()
data['gender']=enc.fit_transform(data['gender'].values)
data['hypertension']=enc.fit_transform(data['hypertension'].values)
data['heart_disease']=enc.fit_transform(data['heart_disease'].values)
data['ever_married']=enc.fit_transform(data['ever_married'].values)
data['work_type']=enc.fit_transform(data['work_type'].values)
data['Residence_type']=enc.fit_transform(data['Residence_type'].values)
data['smoking_status']=enc.fit_transform(data['smoking_status'].values)
data['bmi']=enc.fit_transform(data['bmi'].values)

In [4]:
data.head()

      id  gender   age  ...  bmi  smoking_status  stroke
0   9046       1  67.0  ...  239               1       1
1  51676       0  61.0  ...  475               2       1
2  31112       1  80.0  ...  198               2       1
3  60182       0  49.0  ...  217               3       1
4   1665       0  79.0  ...  113               2       1

[5 rows x 12 columns]

In [6]:
import matplotlib.pyplot as plt
from matplotlib.colors import ListedColormap
from sklearn.neighbors import KNeighborsClassifier
from sklearn import neighbors
from sklearn.model_selection import train_test_split

In [20]:
# memisahkan atribut dan label
x = data[['gender', 'age', 'hypertension', 'heart_disease', 'ever_married', 
          'work_type', 'Residence_type', 'avg_glucose_level', 'bmi', 
          'smoking_status']]
y = data['stroke']

In [22]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [23]:
knn = KNeighborsClassifier (n_neighbors= 6,
                            weights='uniform')
knn.fit(x_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=6, p=2,
                     weights='uniform')

In [25]:
knn.predict(x_test)[0:5]

array([0, 0, 0, 0, 0])

In [26]:
knn.score(x_test, y_test)

0.9549902152641878

In [28]:
from sklearn.model_selection import cross_val_score
import numpy as np
# mengevaluasi performa model dengan cross_val_score
knn_cv = KNeighborsClassifier(n_neighbors=6)
scores = cross_val_score(knn_cv, x, y, cv=5)
print(scores)
print('scores mean:{}'.format(np.mean(scores)))

[0.95009785 0.95107632 0.95009785 0.95107632 0.95107632]
scores mean:0.9506849315068493

In [29]:
from sklearn.model_selection import GridSearchCV

#membuat knn baru
knn2 = KNeighborsClassifier()
param_grid = {'n_neighbors': np.arange(1, 25)}
knn_gscv = GridSearchCV(knn2, param_grid, cv=5)
knn_gscv.fit(x, y)

GridSearchCV(cv=5, error_score=nan,
             estimator=KNeighborsClassifier(algorithm='auto', leaf_size=30,
                                            metric='minkowski',
                                            metric_params=None, n_jobs=None,
                                            n_neighbors=5, p=2,
                                            weights='uniform'),
             iid='deprecated', n_jobs=None,
             param_grid={'n_neighbors': array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24])},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [30]:
knn_gscv.best_params_

{'n_neighbors': 11}

In [31]:
knn_gscv.best_score_

0.9512720156555773