<a href="https://colab.research.google.com/github/arifadli/kuliahAI2021/blob/main/Decission%20Tree/Stroke_DT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [13]:
import pandas as pd
data = pd.read_csv('/content/drive/My Drive/Colab Notebooks/healthcare-dataset-stroke-data.csv')
data.head()

      id  gender   age  ...   bmi   smoking_status stroke
0   9046    Male  67.0  ...  36.6  formerly smoked      1
1  51676  Female  61.0  ...   NaN     never smoked      1
2  31112    Male  80.0  ...  32.5     never smoked      1
3  60182  Female  49.0  ...  34.4           smokes      1
4   1665  Female  79.0  ...  24.0     never smoked      1

[5 rows x 12 columns]

In [20]:
data.drop('id',axis=1,inplace=True)

In [21]:
from sklearn.preprocessing import LabelEncoder

In [22]:
enc=LabelEncoder()

In [23]:
data['gender']=enc.fit_transform(data['gender'].values)
data['hypertension']=enc.fit_transform(data['hypertension'].values)
data['heart_disease']=enc.fit_transform(data['heart_disease'].values)
data['ever_married']=enc.fit_transform(data['ever_married'].values)
data['work_type']=enc.fit_transform(data['work_type'].values)
data['Residence_type']=enc.fit_transform(data['Residence_type'].values)
data['smoking_status']=enc.fit_transform(data['smoking_status'].values)
data['bmi']=enc.fit_transform(data['bmi'].values)

In [24]:
data.head()

   gender   age  hypertension  ...  bmi  smoking_status  stroke
0       1  67.0             0  ...  239               1       1
1       0  61.0             0  ...  475               2       1
2       1  80.0             0  ...  198               2       1
3       0  49.0             0  ...  217               3       1
4       0  79.0             1  ...  113               2       1

[5 rows x 11 columns]

In [26]:
# memisahkan atribut dan label
X = data[['gender', 'age', 'hypertension', 'heart_disease', 'ever_married', 
          'work_type', 'Residence_type', 'avg_glucose_level', 'bmi', 
          'smoking_status']]
y = data['stroke']

In [27]:
from sklearn.tree import DecisionTreeClassifier
 
# membuat model Decision Tree
tree_model = DecisionTreeClassifier() 
 
# melakukan pelatihan model terhadap data
tree_model.fit(X, y)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [28]:
# prediksi model
tree_model.predict([[0, 50, 1, 0, 1, 3, 1, 160, 150, 2]])

array([0])

In [29]:
from sklearn.tree import export_graphviz
export_graphviz(
    tree_model,
    out_file = "stroke_tree.dot",
    feature_names = ['gender', 'age', 'hypertension', 'heart_disease', 'ever_married', 
          'work_type', 'Residence_type', 'avg_glucose_level', 'bmi', 
          'smoking_status'],
    class_names = ['no stroke', 'stroke'],
    rounded= True,
    filled =True
)